sequential/exec/
sequential/data/reddit.graph
sequential/data/reddit.split
sequential/data/reddit.svmlight
parallel/exec/
parallel/data/reddit.graph
parallel/data/reddit.split
parallel/data/reddit.svmlight
